@import '../../../styles/mixins.scss';

.search-block {
    position: relative;

    .search-block_input {
        width: 23.5rem;

        @include vp-768 {
            width: 40rem;
        }
    }
}

.search-block_input {
    position: absolute;
    right: -1rem;
    top: -0.4rem;
    padding: 0.5rem 3rem 0.5rem 1rem;

    @include vp-768 {
        height: 5rem;
        width: 40rem;
        top: -0.7rem;
    }
}

.search-block_button {
    position: relative;
    right: -0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    transition: var(--default-transition);

    &:hover {
        opacity: 0.7;
    }
}

.search-block_img {
    min-width: 1.8rem;
    max-height: 1.8rem;
    margin: auto;
}

.search-block_text {
    font-size: 1.2rem;
}