@import '../../styles/mixins.scss';

.product {
    margin-top:  2rem;

    @include vp-768 {
        display: flex;
        gap: 3rem;
        padding-left: 4.5rem;
        margin-top: 4rem;
    }

    @include vp-1200 {
        width: 100%;
        max-width: 136.6rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 9.8rem;
        margin-top: 6rem;
    }
}

.product_container {
    padding: 0 1.5rem;

    @include vp-768 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    @include vp-1200 {
        max-width: 54rem;
        align-items: center;
    }
}
