@import '../../styles/mixins.scss';

.catalog {
    .catalog_container {
        margin-bottom: 2rem;
    
        @include vp-768 {
            margin-bottom: 0;
        }
    }
}

.catalog_bread-crumbs,
.catalog_dropdown-menu,
.catalog_sort-container,
.catalog_sort-buttons {
    margin-bottom: 3rem;
}

.catalog_sort-container {
    @include vp-768 {
        grid-column: 1/3;
    }

    @include vp-1200 {
        grid-column: 1/4;
    }
}

.catalog_dropdown-menu {
    @include vp-768 {
        grid-column: 3/4;
    }

    @include vp-1200 {
        grid-column: 4/5;
    }
}

.catalog_filter-container {
    display: flex;
    flex-direction: column-reverse;

    @include vp-768 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    @include vp-1200 {
        grid-template-columns: repeat(4, 1fr);
        gap: 6.6rem;
    }
}


.catalog_product-list {
    @include vp-768 {
        grid-template-columns: 1fr 1fr 1fr;

        .product-card_img-wrap {
            height: 36.33vw;
        }
    }

    @include vp-1200 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 6.6rem;

        .product-card_img-wrap {
            height: 27rem;
        }
    }
}

